node_modules/
web-client/node_modules/
web-client/dist/
web-client/.vite/
web-client/node_modules/.vite/

web-server/vendor/
web-server/public/storage/
web-server/storage/*.key
web-server/.env
web-server/.env.backup
web-server/.phpunit.result.cache

.env
.env.local
.idea/
.vscode/
npm-debug.log
yarn-error.log
